

$default-spacing: 15px!default; // basic paddig for elements
$spacing-quantity: 3!default; // when 3 it produces: spacer_x1 / spacer_x2, / spacer_x3

$font-basic: 'Roboto', sans-serif!default;
$font-alternate: 'Asar', serif!default;
// BASIC COLORS
$color-a:#164e5f!default;
$color-b:#8bc53d!default;
// GRAY TONES
$color-white:#fff!default;
$color-gray-a:#e8e8e8!default;
$color-gray-b:#ccc!default;
$color-gray-c:#606060!default;
$color-black:#000!default;



