.debugger {
  background: #e8e8e8 !important;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px !important;
  padding-top: 150px !important;
  overflow: scroll;
  height: 100vh;
  z-index: 99999;
}